# Dependencies
node_modules/
.pnpm-store/

# Env
.env
.env.local
.env.*.local
!.env.example

# Builds
dist/
build/
.next/
out/
*.tsbuildinfo

# Flutter
apps/mobile/.dart_tool/
apps/mobile/.packages
apps/mobile/.pub-cache/
apps/mobile/.pub/
apps/mobile/build/
apps/mobile/.flutter-plugins
apps/mobile/.flutter-plugins-dependencies
apps/mobile/coverage/
**/*.iml
**/Doc/api/

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
*.swp
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Prisma
apps/api/prisma/*.db
apps/api/prisma/*.db-journal

# Local article images
apps/api/uploads/*
!apps/api/uploads/.gitkeep

# Coverage / test
coverage/
.nyc_output/

# OS
Desktop.ini
